<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user?.role < 100) { %>
    <h1>No Authorization</h1>
  <% } else { %> 
    <h1>Please Sign In</h1>
  <% } %> 
</main>

<%- include('./partials/footer') %>
