html {
  box-sizing: border-box;
  font-size: 16px;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

:root {
  --color-1: #FFFFFF;
  --color-2: #999999;
  --color-3: #333333;
  --color-4: #000000;
  --color-primary: #880F06;
  --color-green: #799351;
  --color-orange: #FFA36C;
  --color-red: #880F06;
}

body {
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: var(--color-4);
  color: var(--color-1);
  width: 100%;
  height: 100%;
}

nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 1;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav .navbar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

nav .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo img {
  position: relative;
  display: block;
  height: 3rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: var(--color-2);
  border-radius: 2rem;
  transition: all .5s;
}

nav a:hover {
  color: var(--color-primary);
}

nav .logo a:hover {
  background-color: #00000000;
}

a.active {
  color: var(--color-4);
}

main {
  font-family: 'Montserrat', sans-serif;
  margin: 5rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

input, select{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: .5rem;
  border: none;
  text-align: center;
  border-radius: 2rem;
}

select {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

i {
  color: inherit;
}

.hover-light {
  transition: all .5s;
  background-color: var(--color-1);
  color: var(--color-3);
}

.hover-light:hover {
  background: var(--color-3);
  color: var(--color-1);
  cursor: pointer;
}

.hover-dark {
  transition: all .5s;
  background-color: var(--color-3);
  color: var(--color-1);
}

.hover-dark:hover {
  background: var(--color-1);
  color: var(--color-3);
  cursor: pointer;
}
