table {
  width: 100%;
}

.input-short {
  width: 25%;
}

.input-medium {
  width: 50%;
}

.input-long {
  width: 75%;
}

.takeoff-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.takeoff-options button {
  font-size: 1rem;
  padding: 1rem 4rem;
  border-radius: .25rem;
}

.action-button {
  background-color: transparent;
  color: inherit;
  border: none;
  transition: all .5s
}

.action-button:hover {
  background-color: transparent;
  color: var(--color-2);
  border: none;
}

.delete-takeoff-button {
  padding: 1rem 4rem;
  width: 16rem;
}

.return-button-container {
  justify-content: flex-end;
}

td, th {
  padding: .5rem;
  text-align: center;
}

th {
  border-bottom: 1px solid var(--color-2-opacity);
}

td {
  background-color: var(--color-3-opacity);
  border-radius: .25rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}