table {
  width: 100%;
}

.input-short {
  width: 25%;
}

.input-medium {
  width: 50%;
}

.input-long {
  width: 75%;
}

.takeoff-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.takeoff-options button {
  font-size: 1rem;
  padding: 1rem 4rem;
  border-radius: .25rem;
}

.action-button {
  background-color: inherit;
}

.action-button:hover {
  background-color: inherit;
}

.delete-takeoff-button {
  padding: 1rem 4rem;
  background-color: var(--color-red);
  color: var(--color-1);
  width: 16rem;
}

.return-button-container {
  justify-content: flex-end;
}

thead {
  background-color: var(--color-3);
}

tbody {
  background-color: var(--color-2);
}

td, th {
  padding: .5rem;
  text-align: center;
}