.installers-input-td {
  padding: 0 .5rem;
}

.installers-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  height: 2rem;
} 

.installers-input {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.installers-input label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.installers-input input[type=checkbox] {
  display: none;
}

.installers-input label:hover {
  cursor: pointer;
}

.installers-input input[type=checkbox]:checked + label {
  background-color: var(--color-3);
  color: var(--color-1);
}