main > div{
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

table {
  width: 100%;
}

td {
  padding: 1rem;
}

.filter-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  border-radius: 2rem 0 0 2rem;
  outline: 0;
  color: var(--color-3);
}

.search-bar button {
  background-color: var(--color-3);
  padding: .5rem;
  border-radius: 0 2rem 2rem 0;
  border-left: 2px solid var(--color-4);
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .125rem;
  color: var(--color-3);
  border-radius: 2rem;
}

.filter-name {
  background-color: var(--color-1);
  padding: .5rem .25rem;
}


.arrow {
  background-color: var(--color-3);
  color: var(--color-1);
  padding: .5rem;
  cursor: pointer;
}

.descending {
  border-radius: 2rem 0 0 2rem;
}

.ascending {
  border-radius: 0 2rem 2rem 0;
}

button.filter, a.filter {
  height: 34px;
  width: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-3);
}

.search-bar button:hover, .arrow:hover, a.filter:hover, button.filter:hover {
  background-color: var(--color-1);
}

.filter-nav input[type=radio] {
  display: none;
}

.job-status-0 {
  background-color: var(--color-red);
}

.job-status-1 {
  background-color: var(--color-orange);
}

.job-status-2 {
  background-color: var(--color-green);
}