main > div {
  width: 100%;
}

.takeoffs-meta-table th:nth-child(1), .takeoffs-meta-table td:nth-child(1) {
  width: 30%;
}

.takeoffs-meta-table th:nth-child(2), .takeoffs-meta-table td:nth-child(2) {
  width: 12.5%;
}

.takeoffs-meta-table th:nth-child(5), .takeoffs-meta-table td:nth-child(5) {
  width: 7.5%;
}

.takeoffs-meta-table th:nth-child(3), .takeoffs-meta-table td:nth-child(3), .takeoffs-meta-table th:nth-child(4), .takeoffs-meta-table td:nth-child(4) {
  width: 15%;
}

.filter-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  gap: .5rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  height: 100%;
  border-radius: 2rem 0 0 2rem;
  outline: 0;
  color: var(--color-1);
  border-right: none;
  text-align: left;
  padding: 0 1rem;
}

.search-bar button {
  height: 100%;
  padding: 0 1rem 0 .5rem;
  border-radius: 0 2rem 2rem 0;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-4);
  color: var(--color-2);
  border-top: 1px solid var(--color-2-opacity);
  border-bottom: 1px solid var(--color-2-opacity);
  height: 100%;
  padding: 0 .25rem;
}


.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  height: 100%;
}

input[type="radio"]:checked + label {
  background-color: var(--color-primary);
}

input[type="radio"]:checked + label:hover {
  background-color: var(--color-2);
}

.descending {
  border-radius: 2rem 0 0 2rem;
}

.ascending {
  border-radius: 0 2rem 2rem 0;
}

button.filter, a.filter {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.filter-nav input[type=radio] {
  display: none;
}

.filter-nav button.active {
  background-color: var(--color-primary);
}

.filter-nav button.active:hover {
  background-color: var(--color-2);
}

.job-status-0 {
  background-color: var(--color-red-opacity);
}

.job-status-1 {
  background-color: var(--color-orange-opacity);
}

.job-status-2 {
  background-color: var(--color-green-opacity);
}