main > div{
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

table {
  width: 100%;
}

td {
  padding: 1rem;
}

.filter-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.filter {
  background-color: var(--color-1);
  color: var(--color-2);
  padding: .5rem .25rem;
  border-radius: 2rem;
}

button.filter {
  padding: .5rem 1rem;
}

.arrow {
  background-color: var(--color-2);
  color: var(--color-1);
  padding: .25rem .5rem;
  border-radius: 2rem;
}

.filter-nav input[type=radio] {
  display: none;
}

.job-status-0 {
  background-color: var(--color-red);
}

.job-status-1 {
  background-color: var(--color-orange);
}

.job-status-2 {
  background-color: var(--color-green);
}