.date-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lock-count-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lock-count-input > * {
  margin: 0 1rem;
}

.lock-count-input input {
  width: 10%;
}

.lock-count-input .operator {
  flex: 1;
  padding: .5rem 2rem;
  background-color: #333333;
  border-radius: 2rem;
}

.delete-takeoff-button {
  padding: 1rem 4rem;
  background-color: var(--color-red);
  color: var(--color-1);
  width: 16rem;
}

.return-button-container {
  justify-content: flex-end;
}