.date-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.lock-count-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lock-count-input > * {
  margin: 0 1rem;
}

.lock-count-input input {
  width: 10%;
}

.lock-count-input .operator {
  flex: 1;
  height: 32px;
  padding: 0 2rem;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  border-bottom: 1px solid var(--color-2-opacity);
  background-color: var(--color-4);
}

td {
  background-color: var(--color-3-opacity);
  border-radius: .25rem;
}